.effect-img {
  position: absolute;
  transition: 0.5s;
  user-select: none;
}

.effect-img:hover {
  border: 0.1rem dashed #e79aff;
}

.effect-img.isEditing {
  filter: drop-shadow(0 0 3px #e386ff) drop-shadow(0 0 7px #2cffb9);
  /* mix-blend-mode: difference; */
}

/* .effect-img.center {
  inset: 0;
  margin: auto;
} */

.effect-img.topLeft {
  top: 0;
  left: 0;
}

.effect-img.topRight {
  top: 0;
  right: 0;
}

.effect-img.bottomLeft {
  bottom: 0;
  left: 0;
}

.effect-img.bottomRight {
  bottom: 0;
  right: 0;
}
